[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=9.0"
kubernetes = "~= 29.0"
netaddr = "*"
PyYAML = "~= 6.0"
dnspython = "*"

[dev-packages]
ansible-lint = "*"
molecule = "~=24.0"

[requires]
python_version = "3.11"
