token: {{ k3s_token }}

{% if k3s__present %}
server: https://{{ k3s_apiserver }}:6443
{% else %}
{% if k3s_apiserver == '127.0.0.1' %}
cluster-init: true
{% else %}
server: https://{{ k3s_apiserver }}:6443
{% endif %}
{% endif %}

{% if k3s_role == 'server' %}
write-kubeconfig-mode: "0644"
{% if k3s_enable_embeddedregistry %}
embedded-registry: true
{% endif %}
{% endif %}
