{% if k3s__present %}
server: https://{{ k3s_apiserver }}:6443
{% else %}
{% if k3s_apiserver == '127.0.0.1' %}
cluster-init: true
{% else %}
server: https://{{ k3s_apiserver }}:6443
{% endif %}
{% endif %}
