token: {{ kubernetes_cluster_apitoken }}

{% if kubernetes_node_labels is defined and kubernetes_node_labels != [] %}
node-label:
{% for label in kubernetes_node_labels %}
- "{{ label }}"
{% endfor %}
{% endif %}

{% if kubernetes_cluster_bootstrap and not kubernetes_node_running %}
cluster-init: true
{% endif %}

{% if not kubernetes_cluster_bootstrap %}
server: https://{{ kubernetes_cluster_apiserver }}:6443
{% endif %}

{% if kubernetes_node_role == 'server' %}
write-kubeconfig-mode: "0644"
{% endif %}

{% if kubernetes_registry_embedded_enabled %}
embedded-registry: true
{% endif %}
