token: {{ kubernetes_bootstrap_token }}

{% if kubernetes_node_labels is defined and kubernetes_node_labels != [] %}
node-label:
{% for label in kubernetes_node_labels %}
- "{{ label }}"
{% endfor %}
{% endif %}

{% if kubernetes_bootstrap_enabled %}
{% if not kubernetes_node_running %}
cluster-init: true
{% endif %}
{% else %}
server: https://{{ lookup('community.general.dig', kubernetes_cluster_apiserver, qtype='A', fail_on_error=true) }}:6443
{% endif %}

{% if kubernetes_node_role == 'server' %}
write-kubeconfig-mode: "0644"
{% if kubernetes_registry_embedded_enabled %}
embedded-registry: true
{% endif %}
{% endif %}
